<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/novo_mapler.css">
    <title>Document</title>
</head>
<body>
    <nav id="navbarFixed" class="white fixed-nav">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo light-blue-text hide-on-med-and-down">
                <img src="assets/img/egua2.png" alt="Logo">
            </a>
            <a href="#" data-activates="ulMobileMenu" class="button-collapse">
                <i class="ion-navicon-round"></i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li class="active"><a class="grey-text" href="#">Home</a></li>
                <li><a class="grey-text" href="sobre">Sobre</a></li>
                <li><a class="grey-text" href="comunidade">Comunidade</a></li>
                <li><a class="aGetStarted" href="https://egua.dev/docs" target="_blank">Aprender</a></li>
                <li><a target="_blank" class="grey-text" href="https://github.com/eguatech">
                    <i class="ion-social-github"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="sectionIndexBanner" class="displayFlex landing">
        <div class="container displayFlex center black-text">
            <div class="row" id="rowLogo">
                <img class="hide-on-small-only" src="assets/img/egua.png" width="30%" alt="Logo">
                <h2 class="hide-on-small-only">Programação <strong class="red-text">simples</strong> e <strong class="purple-text">moderna</strong> em
                    <strong class="red-text">português</strong></h2>
                <h1 class="hide-on-med-and-up"><img src="assets/img/egua.png" alt="Logo"></h1>
                <h3 class="hide-on-med-and-up">Programação <strong class="red-text">simples</strong> e <strong class="purple-text">moderna</strong>
                    em <strong class="red-text">português</strong></h3>
            </div>
            <div class="row center" id="rowBannerButtons">
                <div class="col s12 l4 m4">
                    <a href="https://egua.dev/docs" target="_blank" class="btn btn-large">Aprender</a>
                </div>
                <div class="col s12 l4 m4">
                    <a href="https://egua.dev/idegua" class="btn btn-large">Programar</a>
                </div>
                <div class="col s12 l4 m4">
                    <a target="_blank" href="https://github.com/eguatech" class="btn btn-large">
                        <i class="ion-social-github"></i> GitHub</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>